



nav {
    background-color:tan;
    display: flex;
    justify-content: space-evenly;
    
}

nav a {
    text-decoration: none;
    padding: 40px;
    color:blanchedalmond;
    font-size: 20px;
    font-family: century gothic;
    text-align: center;
}


nav a:hover{
    color:rgb(28, 78, 38);
    text-align: center;
}


header {
    background-image: url(./images/brownclothes.png);
    background-size: auto;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 25px;
    margin-bottom: 25px;

}


header h1 {
    padding: 100px;
    text-align: center;
    
}


h1 {
    color:tan;
    font-family:KIONA BOLD;
    font-size: 100px;
}


.item1 { grid-area: image1;}
.item2 { grid-area: image2; }
.item3 { grid-area: image3; }
.item4 { grid-area: image4; }
.item5 { grid-area: box;}

.grid-container {
  display: grid;
  grid-template-areas:
    'image1 image2 box box box'
    'image3 image4 box box box';
    background-color:aqua;
    gap: 25px;
  padding: 30px;
  
}

.grid-container > div {
    background-color:darkgreen;
    font-size: 30px;
    padding-left: 0%;
  
    
    
  }

  
  

     


















